@font-face {
  font-family: "Catalpa";
  src: url("./assets/fonts/Catalpa-Extrabold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter18pt-SemiBold.woff2") format("woff2");
}

.App {
  text-align: center;
  background-image: url(./Daisy_Pattern-DaisyField_Pine.svg);
  background-repeat: no-repeat;
  background-size: 180%;
  background-position: center;
  background-color: #36ac4e;
  background-size: clamp(180%, 50vw, 400%);
  transition: background-size 0.5s ease;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
}

.Bloom-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: transparent;  */
  /* opacity: 0.5; makes entire background image transparent */
}

.Coming-soon {
  font-family: "Catalpa";
  color: #fefbe4;
  display: flex;
}

.Footer {
  color: #fefbe4;
  font-size: 12px;
  min-width: 10em;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-family: "optional";
}

.Presented {
  font-family: "Catalpa";
  margin-right: 0.25rem;
}

@media (max-width: 768px) {
  .App {
    background-size: cover; /* background-size: 180%; or whatever size tiles cleanly */
    background-size: 400%;
  }
}
